
.fit-image {
    width: 400px;
    height: 400px;
    transition: transform .2s;
    cursor: ❤;
}

.rect-image {
    border-radius: 100% 100% 15% 15%;
    transition: transform .2s;
}

.rect-image:hover .fit-image:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.photo-show {
    display: inline-block;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.photo-show img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*emojicursor.app*/
}
